/* THIS PROJECT WILL BE USING THE BEM CSS STYLING MODEL */

:root {
    /* CSS HEX */
--cream: #fffccdff;
--aero-blue: #d0fbe7ff;
--celeste: #c5f7efff;
--celeste-2: #cafcfdff;
--azure-x-11-web-color: #e0f5ffff;
--pale-purple-pantone: #e6d8ffff;
--pink-lace: #ffdbfbff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--cream);
    width: 100vw;
    height: auto;
    overflow: hidden; /* Hide scrollbars */

}

.container {
    margin: clamp(21vh,5vh,50vh) auto;
    width: clamp(292px,76vw,1129px);
    border: solid red;
}

.container > * {
    margin: 10px;
}

.container__habitInput {

}

.container__calendar {
    display: none;
}

.calendar {
    width: clamp(217px,20vw,14rem);
}

.container__tracker {
    /* border: solid black; */
}

.habitInput__btn {

}
.habit__row {
    display: flex;
}

.row__label {
    margin-right: 1vw;
    width: clamp(50px,6vw,80px);
}

.row__checkboxes {
    display: flex;
    overflow: scroll;
}

.row__checkboxes::-webkit-scrollbar {
    display: none;
}

.row__checkboxes label {
    font-size: x-small;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: solid 1px rgb(139, 226, 255);
    user-select: none;
}
.row__checkboxes label h4 {
    font-weight: 100;
    font-size: 10px;
}


.row__checkboxes label, input {
    cursor: pointer;
}

#reset__btn {
    display: none;
}